.custom-menu-parent .mobile-trigger input:is(:active, :hover, :focus, :focus-within, :focus-visible) {
    outline: 0px;
}
.custom-menu-parent .mobile-trigger input {
    width: calc(100% - 40px);
}
.custom-menu-parent-endpoint .mobile-trigger-endpoint input:is(:active, :hover, :focus, :focus-within, :focus-visible) {
    outline: 0px;
}
.custom-menu-parent-endpoint .mobile-trigger-endpoint input {
    width: calc(100% - 40px);
}
.helpfulData .form-group .col-md-1 {
    -ms-flex: auto;
    flex: auto;
    max-width: 40px;
}
.custom-menu-parent {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    max-width: 600px;
    margin: 0px auto;
}
.custom-menu-parent .mobile-trigger {
    z-index: 100;
    cursor: pointer;
    background: transparent;
    position: relative;
    padding: 3px;
    border: 1px solid #dddddd;
    border-radius: 0px;
    width: 100%;
    text-align: left;
}
.custom-menu-parent .mobile-trigger::before, .custom-menu-parent .mobile-trigger::after {
    content: '';
    position: absolute;
    top: 50%;
    margin-top: -1px;
    height: 2px;
    width: 9px;
    background: #000000;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: width 0.3s, -webkit-transform 0.3s;
    -moz-transition: width 0.3s, -moz-transform 0.3s;
    transition: width 0.3s, transform 0.3s;
}
.custom-menu-parent .mobile-trigger::before {
    right: 22px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.custom-menu-parent .mobile-trigger::after {
    right: 17px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.custom-menu-parent .custom-menu-primary {
    width: 100%;
    /* height: auto;
     */
    min-height: 233px;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border-radius: 6px;
    background-color: #ffffff;
    box-shadow: 0px 5px 10px 0px rgb(0 0 0 / 10%);
    overflow: hidden;
    transition: all 0.5s;
    transform: scale(1, 0);
    transform-origin: top center;
    margin: 0 auto;
    z-index: 999;
}
.mobile-open .custom-menu-primary {
    transform: scale(1);
}
.custom-menu-primary ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.parent-wrapper {
    transition: all 0.5s;
}
.custom-menu-parent .custom-menu-primary ul {
    background: #ffffff;
    white-space: nowrap;
}
ul.after-child-open {
    transform: translateX(-100%);
    transition: all 0.5s;
    left: -100%;
}
.custom-menu-primary ul li a {
    display: block;
    padding: 10px 20px;
    font-size: 16px;
    /* line-height: 20px;
     */
    text-decoration: none;
    font-weight: 400;
    color: #000000;
    text-align: left;
    border-bottom: 1px solid #dddddd;
}
.custom-menu-parent .custom-menu-primary ul li:last-child a {
    border-color: transparent;
}
.custom-menu-parent .custom-menu-primary ul li.hs-item-has-children>a, .custom-menu-parent .custom-menu-primary ul li.hs-item-has-sub-children>a {
    background: transparent;
    position: relative;
}
.custom-menu-parent .custom-menu-primary ul li.hs-item-has-children>a::after, .custom-menu-parent .custom-menu-primary ul li.hs-item-has-sub-children>a::after {
    content: "\f054";
    font-family: "Font Awesome 5 Free";
    font-weight: bold;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 16px;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul.hs-menu-children-wrapper {
    position: absolute;
    top: 0;
    width: 100%;
    transform: translateX(100%);
    transition: all 0.5s;
    left: 100%;
    right: 0;
    z-index: 1000;
    transform-origin: top right;
}
ul.hs-menu-children-wrapper.child-open {
    transform: translateX(0);
    left: 0;
}
.custom-menu-parent .custom-menu-primary ul.hs-menu-children-wrapper {
    height: auto;
    max-height: 100%;
    min-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
.custom-menu-parent .custom-menu-primary ul li.dl-back a {
    position: relative;
    text-align: right;
    color: #53a57d;
}
.custom-menu-parent .custom-menu-primary ul li.dl-back a::before {
    content: "\f053";
    font-family: "Font Awesome 5 Free";
    font-weight: bold;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 16px;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.custom-menu-parent-endpoint {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    max-width: 600px;
    margin: 0px auto;
}
.custom-menu-parent-endpoint .mobile-trigger-endpoint {
    z-index: 100;
    cursor: pointer;
    background: transparent;
    position: relative;
    padding: 3px;
    border: 1px solid #dddddd;
    border-radius: 0px;
    width: 100%;
    text-align: left;
}
.custom-menu-parent-endpoint .mobile-trigger-endpoint::before, .custom-menu-parent-endpoint .mobile-trigger-endpoint::after {
    content: '';
    position: absolute;
    top: 50%;
    margin-top: -1px;
    height: 2px;
    width: 9px;
    background: #000000;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: width 0.3s, -webkit-transform 0.3s;
    -moz-transition: width 0.3s, -moz-transform 0.3s;
    transition: width 0.3s, transform 0.3s;
}
.custom-menu-parent-endpoint .mobile-trigger-endpoint::before {
    right: 22px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.custom-menu-parent-endpoint .mobile-trigger-endpoint::after {
    right: 17px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.custom-menu-parent-endpoint .custom-menu-primary-endpoint {
    width: 100%;
    /* height: auto;
     */
    min-height: 233px;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border-radius: 6px;
    background-color: #ffffff;
    box-shadow: 0px 5px 10px 0px rgb(0 0 0 / 10%);
    overflow: hidden;
    transition: all 0.5s;
    transform: scale(1, 0);
    transform-origin: top center;
    margin: 0 auto;
    z-index: 999;
}
.mobile-open-endpoint .custom-menu-primary-endpoint {
    transform: scale(1);
}
.custom-menu-primary-endpoint ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.parent-wrapper {
    transition: all 0.5s;
}
.custom-menu-parent-endpoint .custom-menu-primary-endpoint ul {
    background: #ffffff;
    white-space: nowrap;
}
ul.after-child-open-ednpoint {
    transform: translateX(-100%);
    transition: all 0.5s;
    left: -100%;
}
.custom-menu-primary-endpoint ul li a {
    display: block;
    padding: 10px 20px;
    font-size: 16px;
    /* line-height: 20px;
     */
    text-decoration: none;
    font-weight: 400;
    color: #000000;
    text-align: left;
    border-bottom: 1px solid #dddddd;
}
.custom-menu-parent-endpoint .custom-menu-primary-endpoint ul li:last-child a {
    border-color: transparent;
}
.custom-menu-parent-endpoint .custom-menu-primary-endpoint ul li.hs-item-has-children-endpoint>a, .custom-menu-parent-endpoint .custom-menu-primary-endpoint ul li.hs-item-has-sub-children-endpoint>a {
    background: transparent;
    position: relative;
}
.custom-menu-parent-endpoint .custom-menu-primary-endpoint ul li.hs-item-has-children-endpoint>a::after, .custom-menu-parent-endpoint .custom-menu-primary-endpoint ul li.hs-item-has-sub-children-endpoint>a::after {
    content: "\f054";
    font-family: "Font Awesome 5 Free";
    font-weight: bold;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 16px;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul.hs-menu-children-wrapper-endpoint {
    position: absolute;
    top: 0;
    width: 100%;
    transform: translateX(100%);
    transition: all 0.5s;
    left: 100%;
    right: 0;
    z-index: 1000;
    transform-origin: top right;
}
ul.hs-menu-children-wrapper-endpoint.child-open-ednpoint {
    transform: translateX(0);
    left: 0;
}
.custom-menu-parent-endpoint .custom-menu-primary-endpoint ul.hs-menu-children-wrapper-endpoint {
    height: auto;
    max-height: 100%;
    min-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
.custom-menu-parent-endpoint .custom-menu-primary-endpoint ul li.dl-back-end a {
    position: relative;
    text-align: right;
    color: #53a57d;
}
.custom-menu-parent-endpoint .custom-menu-primary-endpoint ul li.dl-back-end a::before {
    content: "\f053";
    font-family: "Font Awesome 5 Free";
    font-weight: bold;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 16px;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.custom-menu-parent-component {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    max-width: 600px;
    margin: 0px auto;
}
.custom-menu-parent-component .mobile-trigger-component {
    z-index: 100;
    cursor: pointer;
    background: transparent;
    position: relative;
    padding: 3px;
    border: 1px solid #dddddd;
    border-radius: 0px;
    width: 100%;
    text-align: left;
}
.custom-menu-parent-component .mobile-trigger-component::before, .custom-menu-parent-component .mobile-trigger-component::after {
    content: '';
    position: absolute;
    top: 50%;
    margin-top: -1px;
    height: 2px;
    width: 9px;
    background: #000000;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: width 0.3s, -webkit-transform 0.3s;
    -moz-transition: width 0.3s, -moz-transform 0.3s;
    transition: width 0.3s, transform 0.3s;
}
.custom-menu-parent-component .mobile-trigger-component::before {
    right: 22px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.custom-menu-parent-component .mobile-trigger-component::after {
    right: 17px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.custom-menu-parent-component .custom-menu-primary-component {
    width: 100%;
    /* height: auto;
     */
    min-height: 233px;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border-radius: 6px;
    background-color: #ffffff;
    box-shadow: 0px 5px 10px 0px rgb(0 0 0 / 10%);
    overflow: hidden;
    transition: all 0.5s;
    transform: scale(1, 0);
    transform-origin: top center;
    margin: 0 auto;
    z-index: 999;
}
.mobile-open-component .custom-menu-primary-component {
    transform: scale(1);
}
.custom-menu-primary-component ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.parent-wrapper {
    transition: all 0.5s;
}
.custom-menu-parent-component .custom-menu-primary-component ul {
    background: #ffffff;
    white-space: nowrap;
}
ul.after-child-open-ednpoint {
    transform: translateX(-100%);
    transition: all 0.5s;
    left: -100%;
}
.custom-menu-primary-component ul li a {
    display: block;
    padding: 10px 20px;
    font-size: 16px;
    /* line-height: 20px;
     */
    text-decoration: none;
    font-weight: 400;
    color: #000000;
    text-align: left;
    border-bottom: 1px solid #dddddd;
}
.custom-menu-parent-component .custom-menu-primary-component ul li:last-child a {
    border-color: transparent;
}
.custom-menu-parent-component .custom-menu-primary-component ul li.hs-item-has-children-component>a, .custom-menu-parent-component .custom-menu-primary-component ul li.hs-item-has-sub-children-component>a {
    background: transparent;
    position: relative;
}
.custom-menu-parent-component .custom-menu-primary-component ul li.hs-item-has-children-component>a::after, .custom-menu-parent-component .custom-menu-primary-component ul li.hs-item-has-sub-children-component>a::after {
    content: "\f054";
    font-family: "Font Awesome 5 Free";
    font-weight: bold;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 16px;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul.hs-menu-children-wrapper-component {
    position: absolute;
    top: 0;
    width: 100%;
    transform: translateX(100%);
    transition: all 0.5s;
    left: 100%;
    right: 0;
    z-index: 1000;
    transform-origin: top right;
}
ul.hs-menu-children-wrapper-component.child-open-component {
    transform: translateX(0);
    left: 0;
}
.custom-menu-parent-component .custom-menu-primary-component ul.hs-menu-children-wrapper-component {
    height: auto;
    max-height: 100%;
    min-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
.custom-menu-parent-component .custom-menu-primary-component ul li.dl-back-component a {
    position: relative;
    text-align: right;
    color: #53a57d;
}
.custom-menu-parent-component .custom-menu-primary-component ul li.dl-back-component a::before {
    content: "\f053";
    font-family: "Font Awesome 5 Free";
    font-weight: bold;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 16px;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.custom-menu-parent-component .mobile-trigger-component input:is(:active, :hover, :focus, :focus-within, :focus-visible) {
    outline: 0px;
}
.custom-menu-parent-component .mobile-trigger-component input {
    width: calc(100% - 40px);
}
.custom-menu-parent-type {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    max-width: 600px;
    margin: 0px auto;
}
.custom-menu-parent-type .mobile-trigger-type {
    z-index: 100;
    cursor: pointer;
    background: transparent;
    position: relative;
    padding: 3px;
    border: 1px solid #dddddd;
    border-radius: 0px;
    width: 100%;
    text-align: left;
}
.custom-menu-parent-type .mobile-trigger-type::before, .custom-menu-parent-type .mobile-trigger-type::after {
    content: '';
    position: absolute;
    top: 50%;
    margin-top: -1px;
    height: 2px;
    width: 9px;
    background: #000000;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: width 0.3s, -webkit-transform 0.3s;
    -moz-transition: width 0.3s, -moz-transform 0.3s;
    transition: width 0.3s, transform 0.3s;
}
.custom-menu-parent-type .mobile-trigger-type::before {
    right: 22px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.custom-menu-parent-type .mobile-trigger-type::after {
    right: 17px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.custom-menu-parent-type .custom-menu-primary-type {
    width: 100%;
    /* height: auto;
     */
    min-height: 233px;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border-radius: 6px;
    background-color: #ffffff;
    box-shadow: 0px 5px 10px 0px rgb(0 0 0 / 10%);
    overflow: hidden;
    transition: all 0.5s;
    transform: scale(1, 0);
    transform-origin: top center;
    margin: 0 auto;
    z-index: 999;
}
.mobile-open-type .custom-menu-primary-type {
    transform: scale(1);
}
.custom-menu-primary-type ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.parent-wrapper {
    transition: all 0.5s;
}
.custom-menu-parent-type .custom-menu-primary-type ul {
    background: #ffffff;
    white-space: nowrap;
}
ul.after-child-open-ednpoint {
    transform: translateX(-100%);
    transition: all 0.5s;
    left: -100%;
}
.custom-menu-primary-type ul li a {
    display: block;
    padding: 10px 20px;
    font-size: 16px;
    /* line-height: 20px;
     */
    text-decoration: none;
    font-weight: 400;
    color: #000000;
    text-align: left;
    border-bottom: 1px solid #dddddd;
}
.custom-menu-parent-type .custom-menu-primary-type ul li:last-child a {
    border-color: transparent;
}
.custom-menu-parent-type .custom-menu-primary-type ul li.hs-item-has-children-type>a {
    background: transparent;
    position: relative;
}
.custom-menu-parent-type .custom-menu-primary-type ul li.hs-item-has-children-type>a::after {
    content: "\f054";
    font-family: "Font Awesome 5 Free";
    font-weight: bold;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 16px;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul.hs-menu-children-wrapper-type {
    position: absolute;
    top: 0;
    width: 100%;
    transform: translateX(100%);
    transition: all 0.5s;
    left: 100%;
    right: 0;
    z-index: 1000;
    transform-origin: top right;
}
ul.hs-menu-children-wrapper-type.child-open-type {
    transform: translateX(0);
    left: 0;
}
.custom-menu-parent-type .custom-menu-primary-type ul.hs-menu-children-wrapper-type {
    height: auto;
    max-height: 100%;
    min-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
.custom-menu-parent-type .custom-menu-primary-type ul li.dl-back-type a {
    position: relative;
    text-align: right;
    color: #53a57d;
}
.custom-menu-parent-type .custom-menu-primary-type ul li.dl-back-type a::before {
    content: "\f053";
    font-family: "Font Awesome 5 Free";
    font-weight: bold;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 16px;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.custom-menu-parent-type .mobile-trigger-type input:is(:active, :hover, :focus, :focus-within, :focus-visible) {
    outline: 0px;
}
.custom-menu-parent-type .mobile-trigger-type input {
    width: calc(100% - 40px);
}