
section.tree-view-node-style {
  min-height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 50px 0 0 0;
  position: relative; }
  section.tree-view-node-style .github-badge {
    position: absolute;
    top: 0;
    left: 0; }
  section.tree-view-node-style h1 {
    text-align: center;
    margin-bottom: 70px; }
  section.tree-view-node-style .hv-container {
    flex-grow: 1;
    overflow: auto;
    padding-bottom: 30px;
    justify-content: center; }

.tree-view-node-style {
  background-color: #F5EFFE; }
  .tree-view-node-style > h1 {
    color: #ac2222; }

p.simple-card {
  margin: 0;
  background-color: #fff;
  color: #6B0AEA;
  padding: 30px;
  border-radius: 7px;
  min-width: 100px;
  text-align: center;
  /*box-shadow: 0 3px 6px rgba(204, 131, 103, 0.22); */
}

.hv-item-parent p, .hv-item-child.no-node-button p {
  font-weight: bold;
  color: #6B0AEA; }

  .ctm_scroll-bottom::-webkit-scrollbar {
    /*width: 3px;*/
    height: 6px;
    
  }

  /* Track */
  .ctm_scroll-bottom::-webkit-scrollbar-track {
   background-color:rgba(0,0,0,.05);
   -webkit-border-radius: 1ex;
    border-radius: 1ex;
  }
  /* Handle */
  .ctm_scroll-bottom::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 1ex;
    border-radius: 1ex;
  }
  p.simple-card {
    padding: 18px 13px 13px 13px;
    position: relative;
  }
  .tree-view-node-style .simple-card .box_count {
    background-color: #350575;
  }
  .tree-view-node-style .simple-card .box_count.missing-type {
    background-color: grey;
  }
  .tree-view-node-style .simple-card .box_count, .tree-view-node-style .simple-card .exclamation {
    position: absolute;
    top: 1px;
    left: 1px;
    right: auto;
  }
  .ticket_icon {
    transform: rotate(135deg);
    color: #000000;
  }
