  .treeview .list-group-item {
      cursor: pointer
  }
  .treeview span.indent {
      margin-left: 10px;
      margin-right: 10px
  }
  .treeview span.icon {
      width: 12px;
      margin-right: 5px
  }
  .treeview .node-disabled {
      color: silver;
      cursor: not-allowed
  }
  .node-treeview1 {}
  .node-treeview1:not(.node-disabled):hover {
      background-color: #F5F5F5;
  }
  ul.dataTitleList {
      display: flex;
      margin: 0;
      list-style-type: none;
      gap: 20px;
      padding-left: 55px;
  }
  ul.dataTitleList li {
      position: relative;
      font-size: 16px;
      line-height: normal;
      display: flex;
      align-items: baseline;
  }
  ul.dataTitleList li::before {
      content: '';
      width: 8px;
      height: 8px;
      border-radius: 100%;
      background-color: #000;
      display: block;
      margin-right: 5px;
  }
  ul.dataTitleList li:nth-child(1) {
      color: #2263C9;
  }
  ul.dataTitleList li:nth-child(1)::before {
      background-color: #2263C9;
  }
  ul.dataTitleList li:nth-child(2) {
      color: #06847D;
  }
  ul.dataTitleList li:nth-child(2)::before {
      background-color: #06847D;
  }
  ul.dataTitleList li:nth-child(3) {
      color: #f0aa3f;
  }
  ul.dataTitleList li:nth-child(3)::before {
      background-color: #f0aa3f;
  }
  ul.dataTitleList li:nth-child(4) {
      color: #e404DD;
  }
  ul.dataTitleList li:nth-child(4)::before {
      background-color: #e404DD;
  }
  ul.dataTitleList li:nth-child(5) {
      color: #e80f50;
  }
  ul.dataTitleList li:nth-child(5)::before {
      background-color: #e80f50;
  }
  ul.dataTitleList li:nth-child(6) {
      color: #9B1FE8;
  }
  ul.dataTitleList li:nth-child(6)::before {
      background-color: #9B1FE8;
  }
  ul.dataTitleList li:nth-child(7) {
      color: #2495fE;
  }
  ul.dataTitleList li:nth-child(7)::before {
      background-color: #2495fE;
  }