:root {
	--white: rgb(255,255,255);
	--black: rgb(0,0,0);
	--light-gray: rgb(241,239,235); /*color name is Isabelline*/
	--primary: rgb(143,94,71);  /*color name is Spicy Mix*/
	--secondary: rgb(191,163,135); /*color name is Pale Taupe*/
	--tan: rgb(220,182,149);
	--dust-storm: rgb(220,207,193);
	--gray-text: rgb(51,51,51);
	--bellefair-font: 'Bellefair', serif; /*heading font*/
	--montserrat-font: 'Montserrat', sans-serif; /*content font*/
}
::selection {
    background-color: var(--primary);
    color: var(--white);
}

body{margin: 0px;padding: 0px;word-wrap: break-word;font-weight: normal;font-style: normal;font-size: 18px;line-height: 1.2;font-family: var(--montserrat-font);color: var(--gray-text);}
ul,ol{margin: 0;padding: 0px;}
li{list-style-type:none !important;}
ol li{list-style-type:unset !important;}
img{max-width:100%;}
input.text,input[type="text"],input[type="button"],input[type="submit"],input[type="email"],input[type="tel"],textarea,.input-checkbox{-webkit-appearance: none;border-radius: 0;-webkit-border-radius:0;-webkit-box-shadow:none;box-shadow:none;outline:0;}
h1,h2,h3,h4,h5,h6,p{margin:0px;line-height: normal;word-break: break-word;}
a{color: var(--primary);cursor: pointer;text-decoration:none !important;transition:all .4s;-webkit-transition:all .4s;-moz-transition:all .4s;-ms-transition:all .4s;-o-transition:all .4s;}
a:focus{text-decoration:none;outline:0;}
a:hover {color: var(--primary);}
button:focus-visible {outline:0;}
.TC{text-align:center;}
.TL{text-align:left;}
.TR{text-align:right;}
.margin_auto{margin:auto;float:none;}
.padding{padding:0;}
.pr{padding-right: 0px;}
.pl{padding-left: 0px;}
.al{width:100%;height:100%;display:table;}
.alm{width:100%;height:100%;display:table-cell;vertical-align:middle;}

h1:empty, h2:empty, h3:empty, h4:empty, h5:empty, h6:empty, p:empty {
    display: none;
    margin: 0;
}

.form-input, 
.form-inputs {
    position: relative;
}
.form-input .icon-option {
    width: auto;
    position: absolute;
    bottom: 5px;
    right: 5px;
}
.form-inputs .icon-option.all-in-one {
    width: auto;
    position: absolute;
    top: 0px;
    right: 0px;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {opacity: 0;display: none;}
input[type="file"] {
    background-color: var(--white);
    border: 1px solid var(--dust-storm);
    border-radius: 5px;
    width: 100%;
    height: 48px;
    color: var(--gray-text);
}
input[type="file"]::file-selector-button {
    border-radius: 5px;
    color: var(--white);
    background-color: var(--primary);
    border: 1px solid var(--primary);
    height: calc(100% - 35%);
    margin: 8px 0;
    cursor: pointer;
    margin-right: 15px;
    padding: 0px 10px;
    transition: all .25s ease-in-out;
}
input[type="file"]::file-selector-button:hover {
    background-color: var(--secondary);
    color: var(--gray-text);
    transition: all .25s ease-in-out;
}
input[type="checkbox"] {
    -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    outline: none;
    content: none;
    cursor: pointer;
    position: relative;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 0px;
    border: 1px solid var(--dust-storm);
    background: var(--white);
}
input[type=checkbox]:before {
    content: '';
    font-size: 0px;
    color: transparent;
    background: transparent;
    display: block;
    text-align: center;
    border: 0px;
    width: 100%;
    height: 100%;
    line-height: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    transition: all .4s ease-in-out;
    transform: rotate(45deg);
    height: 12px;
    width: 6px;
    border-bottom: 2px solid transparent;
    border-right: 2px solid transparent;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg version='1.2' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 156 152' width='156' height='152'%3e%3cpath fill='%23ffffff' d='m149.5 0.5c1 0 2 0 4 0-1.2 2.2 2.2-0.2 2.2 2.2 0.1 9.4-6.6 12.1-9.4 19.6-25.9 41.4-51.5 83.1-78.2 124.8-2.9 5-18.3 6.6-22.2 0-7.4-9.3-14.9-18.4-22.7-28.3-6.3-6.3-11.2-14.2-17.3-21.7-6-2-7.6-19-1.6-21.8 7.2-11.7 28.7-2.6 30.9 5.5 8 6.4 14.8 13.8 24.7 20.1 29.9-33.4 59.5-67.2 89.6-100.4z'/%3e%3c/svg%3e");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 12px;
    width: 100%;
    height: 100%;
    border: 0;
    transform: unset;
}
input[type=checkbox]:checked {
    background: var(--primary);
    border-color: var(--primary);
}
input[type=checkbox]:checked:before {
    border-color: var(--white);
}
input[type="checkbox"].switch{
    position: relative;
    -webkit-appearance: none;
    min-width: 40px;
    width: 40px;
    height: 20px;
    background: var(--dust-storm);
    outline: none;
    border-radius: 30px;
    box-shadow: inset 0px 0px 4px 1px rgba(0, 0, 0, 0.08);
    transition: 0.5s;
}
input[type="checkbox"].switch:before{
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    left: 0;
    background: var(--white);
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.08);
    border-radius: 50%;
    top: 0px;
/*  transform: scale(1.1);*/
    transition: 0.5s;
}
input[type="checkbox"].switch:checked{
    background: var(--primary);
}
input[type="checkbox"].switch:checked:before{
    left: 20px;
}
input[type="radio"] {
    -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    outline: none;
    content: none;
    cursor: pointer;
    border: 1px solid var(--dust-storm);
    background: var(--white);
    position: relative;
    border-radius: 100%;
    min-width: 20px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    transition: all .4s ease-in-out;
}
input[type="radio"]:before {
    content: '';
    color: transparent;
    background-color: transparent;
    display: block;
    text-align: center;
    width: 9px;
    height: 9px;
    line-height: normal;
    border-radius: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transition: background .4s ease-in-out;
}
input[type="radio"]:checked {
    background: var(--primary);
    border-color: var(--primary);
}
input[type="radio"]:checked:before {
    background-color: var(--white);
}
.radio-box-item {
    position: relative;
}
.radio-box-item input[type="radio"], 
.radio-box-item input[type="checkbox"] {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
}
.radio-box-item label {
    display: inline-block;
    width: auto;
    height: auto;
    background-color: var(--light-gray);
    color: var(--gray-text);
    border-radius: 30px;
    font-size: smaller;
    padding: 8px 18px;
    margin: 0;
}
.radio-box-item input[type="checkbox"]:checked~label, 
.radio-box-item input[type="checkbox"]:hover~label, 
.radio-box-item input[type="radio"]:hover~label, 
.radio-box-item input[type="radio"]:checked~label {
    background-color: var(--tan);
}
.form-input.switch-input {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 6px;
}
.form-input p, 
.form-input li, 
label {
    font-size: 16px;
    line-height: normal;
    letter-spacing: -.6px;
    color: var(--gray-text);
    font-family: var(--montserrat-font);
}
label {
    width: 100%;
    margin-bottom: 5px;
}
.form-input table td, 
.form-input table th {
    font-size: 16px;
    line-height: normal;
    letter-spacing: -.6px;
    color: var(--gray-text);
    font-family: var(--montserrat-font);
    font-weight: normal;
}
.form-input ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 22px;
}
.form-input ul.radio-box-list, .radio-box-list {
    gap: 10px;
}
.form-input li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 6px;
}
.nice-select .nice-select-search, 
.form-field {
    width: 100%;
    display: inline-block;
    font-size: 16px;
    line-height: normal;
    color: var(--gray-text);
    font-family: var(--montserrat-font);
    box-shadow: none;
    border-radius: 5px;
    border: 1px solid var(--dust-storm);
}
.nice-select .nice-select-search::placeholder, 
.form-field::placeholder {
    color: var(--gray-text);
    opacity: .5;
}
.nice-select .nice-select-search, 
input.form-field {
    width: 100%;
    height: 48px;
    border-radius: 5px;
    padding: 0px 14px;
    border-color: var(--dust-storm);
}
input[type="checkbox"]~label {
    width: auto;
    margin: 0;
}
.form-input.switch-input label {
    width: calc(100% - 40px - 6px);
}
textarea.form-field {
    width: 100%;
    min-height: 126px;
    padding: 14px;
    border-color: var(--dust-storm);
}
select.form-field {
    width: 100%;
    height: 46px;
    padding: 0px 34px 0px 14px;
    background-color: transparent;
    -webkit-appearance: none;
    background-repeat: no-repeat;
    background-size: 12px;
    background-position: 97% 50%;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14.9 4L15.9999 5.23753L7.99994 12.3487L-6.10352e-05 5.23753L1.09986 4L7.99994 10.1334L14.9 4Z' fill='black'/%3E%3C/svg%3E%0A");
}
.nice-select.form-field {
    min-height: 48px;
    height: 48px;
    line-height: 48px;
}
.nice-select:after {
    border-bottom-color: var(--dust-storm);
    border-right-color: var(--dust-storm);
}
.nice-select.has-multiple .multiple-options {
    margin: 0;
    line-height: 31px;
}
.nice-select .nice-select-search {
    height: 38px;
    line-height: 38px;
}
.nice-select .nice-select-search-box {
    box-shadow: none;
    border-width: 1px;
    border-style: solid;
    border-color: var(--dust-storm);
}
.nice-select.has-multiple span.current {
    border-color: var(--dust-storm);
    background-color: var(--tan);
    font-family: var(--montserrat-font);
    color: var(--gray-text);
}
.nice-select .option:hover, .nice-select .option.focus, .nice-select .option.selected.focus {
    background-color: var(--tan);
    color: var(--gray-text);
}
.nice-select ul.list {
/*    flex-flow: column;*/
    gap: 0px;
    width: 100%;
    text-align: left;
    box-shadow: none;
    border-width: 1px;
    border-style: solid;
    border-color: var(--dust-storm);
}
.nice-select .nice-select-search-box~.list {
    margin-top: 65px;
    padding: 0;
    border-top: 0;
}
/* ===== Scrollbar CSS ===== */
/* Firefox */
.nice-select ul.list {
    scrollbar-width: auto;
    scrollbar-color: var(--primary) transparent;
}
/* Chrome, Edge, and Safari */
.nice-select ul.list::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
.nice-select ul.list::-webkit-scrollbar-track {
    background: transparent;
}
.nice-select ul.list::-webkit-scrollbar-thumb {
    background-color: var(--primary);
    border-radius: 10px;
    border: 0px solid transparent;
}
.nice-select ul.list li.option {
    width: 100%;
    text-align: left;
}
.nice-select ul.list li.option.disabled {
    font-weight: normal;
    opacity: .9;
}
.daterangepicker, 
.daterangepicker>* {
    color: var(--gray-text);
}
.daterangepicker td.active, .daterangepicker td.active:hover {
    background-color: var(--primary);
}
.daterangepicker td.available:hover, .daterangepicker th.available:hover, 
.daterangepicker td.in-range {
    background-color: var(--dust-storm);
    color: var(--gray-text);
}
.daterangepicker select.hourselect, .daterangepicker select.minuteselect, .daterangepicker select.secondselect, .daterangepicker select.ampmselect {
    background: var(--dust-storm);
    border-color: var(--dust-storm);
    color: var(--gray-text);
    border-radius: 3px;
}
.daterangepicker, 
.daterangepicker .drp-buttons {
    border-color: var(--dust-storm);
}
.daterangepicker:before {
    border-bottom-color: var(--dust-storm);
}
.form-input.d-flex {
    column-gap: 6px;
}
.primary-tooltip {
    --bs-tooltip-bg: var(--primary);
}
.input-group-text {
    border-color: var(--dust-storm);
    background: var(--dust-storm);
}

.form-input .box {
    display: block;
    width: 150px;
    height: 150px;
    margin: 0px;
    background-color: var(--light-gray);
    border: 1px dotted var(--dust-storm);
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    /*box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);*/
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.upload-options {
    /*position: relative;
    height: 75px;
    background-color: cadetblue;*/
    cursor: pointer;
    overflow: hidden;
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: transparent;
    transition: background-color ease-in-out 150ms;
}
.upload-options:hover {
    background-color: rgba(0,0,0,.1);
}
.upload-options input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.upload-options label {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    overflow: hidden;
}
.upload-options label::after {
    content: '';
  /*content: "add";
  font-family: "Material Icons";
  position: absolute;
  font-size: 2.5rem;
  color: #e6e6e6;
  z-index: 0;
  top: calc(50% - 2.5rem);
  left: calc(50% - 1.25rem);*/
  z-index: -1;
}
.upload-options label span {
    display: inline-block;
    width: 50%;
    height: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
    text-align: center;
}
.upload-options label span:hover i.material-icons {
    color: var(--gray-text);
}
.js--image-preview {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-image: url("");
    background-color: var(--light-gray);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.js--image-preview::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 60px;
    background-position: center;
    /*background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg class='image' aria-hidden='true' xmlns='http://www.w3.org/2000/svg' fill='%23dcb695' viewBox='0 0 20 18'%3e%3cpath d='M18 0H2a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2Zm-5.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm4.376 10.481A1 1 0 0 1 16 15H4a1 1 0 0 1-.895-1.447l3.5-7A1 1 0 0 1 7.468 6a.965.965 0 0 1 .9.5l2.775 4.757 1.546-1.887a1 1 0 0 1 1.618.1l2.541 4a1 1 0 0 1 .028 1.011Z'/%3e%3c/svg%3e");*/
    /*background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg fill='%23dcb695' class='profile' aria-hidden='true' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 18'%3e%3cpath d='M7 9a4.5 4.5 0 1 0 0-9 4.5 4.5 0 0 0 0 9Zm2 1H5a5.006 5.006 0 0 0-5 5v2a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2a5.006 5.006 0 0 0-5-5Z'/%3e%3c/svg%3e");*/
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg fill='%23dcb695' class='camera' aria-hidden='true' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3e%3cpath d='M19 5h-1.382l-.171-.342A2.985 2.985 0 0 0 14.764 3H9.236a2.984 2.984 0 0 0-2.683 1.658L6.382 5H5a3 3 0 0 0-3 3v11a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8a3 3 0 0 0-3-3Zm-3.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z'/%3e%3c/svg%3e");
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
}
.js--image-preview.js--no-default::after {
  display: none;
}
.drop {
  display: block;
  position: absolute;
  background: rgba(95, 158, 160, 0.2);
  border-radius: 100%;
  transform: scale(0);
}
.animate {
  -webkit-animation: ripple 0.4s linear;
          animation: ripple 0.4s linear;
}
@-webkit-keyframes ripple {
  100% {
    opacity: 0;
    transform: scale(2.5);
  }
}
@keyframes ripple {
  100% {
    opacity: 0;
    transform: scale(2.5);
  }
}
.form-input .rating-star, 
.rating-star {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    overflow: hidden;
    gap: 5px;
    width: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: -ms-fit-content;
    width: -o-fit-content;
}
.rating-star li {
    position: relative;
}
.rating-star input {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    display: none;
}
.rating-star label {
    width: auto;
    margin: 0;
    font-size: 20px;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    transition: 0.3s;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1.5rem;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg fill='%23ded3c4' xmlns='http://www.w3.org/2000/svg' height='1em' viewBox='0 0 576 512'%3e%3cpath d='M287.9 0c9.2 0 17.6 5.2 21.6 13.5l68.6 141.3 153.2 22.6c9 1.3 16.5 7.6 19.3 16.3s.5 18.1-5.9 24.5L433.6 328.4l26.2 155.6c1.5 9-2.2 18.1-9.6 23.5s-17.3 6-25.3 1.7l-137-73.2L151 509.1c-8.1 4.3-17.9 3.7-25.3-1.7s-11.2-14.5-9.7-23.5l26.2-155.6L31.1 218.2c-6.5-6.4-8.7-15.9-5.9-24.5s10.3-14.9 19.3-16.3l153.2-22.6L266.3 13.5C270.4 5.2 278.7 0 287.9 0zm0 79L235.4 187.2c-3.5 7.1-10.2 12.1-18.1 13.3L99 217.9 184.9 303c5.5 5.5 8.1 13.3 6.8 21L171.4 443.7l105.2-56.2c7.1-3.8 15.6-3.8 22.6 0l105.2 56.2L384.2 324.1c-1.3-7.7 1.2-15.5 6.8-21l85.9-85.1L358.6 200.5c-7.8-1.2-14.6-6.1-18.1-13.3L287.9 79z'/%3e%3c/svg%3e");
}
.rating-star > input:not(:checked) ~ label:hover,
.rating-star > input:not(:checked) ~ label:hover ~ label, 
.rating-star > input:checked ~ label, 
.rating-star > input:checked ~ label ~ label {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg fill='%23ded3c4' xmlns='http://www.w3.org/2000/svg' height='1em' viewBox='0 0 576 512'%3e%3cpath d='M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z'/%3e%3c/svg%3e");
}
.special-needs-types {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}
.special-needs-types .form-input {
    width: 50%;
    padding-right: 10px;
}

header~.no-banner {
    border-top: 1px solid var(--light-gray);
}
.single-form-section {
    padding: 80px 0;
    border-top: 1px solid var(--light-gray);
}
.single-form-section .title-main h2~h3 {
    margin-top: 45px;
}
.single-form-section .title-main {
    margin: 0 0 25px;
}
.form-inputs .row, 
.single-form-section form.row {
    position: relative;
    row-gap: 20px;
}
.shift-table {
    position: relative;
}
.shift-table .table-arrows {
    width: 100%;
    z-index: 1;
}
.single-form-section .form-input .table-responsive {
    max-width: 600px;
}
.single-form-section .form-input-btn {
    margin-top: 20px;
}
.single-form-section .input-group {
    flex-flow: row;
}
.other-option {
    margin: 20px 0 0;
}
.other-option .text {
    width: 100%;
    position: relative;
    text-align: center;
    font-size: 16px;
    line-height: normal;
    letter-spacing: -.6px;
    color: var(--gray-text);
    font-family: var(--montserrat-font);
    margin: 0 0 30px;
}
.other-option .text:before, 
.other-option .text:after {
    content: '';
    width: 38%;
    height: 1px;
    background-color: var(--light-gray);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}
.other-option .text:before {
    left: 0;
}
.other-option .text:after {
    right: 0;
}
.other-option-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
}
.other-option-list a {
    display: inline-block;
    padding: 7px;
    border: 1px solid var(--dust-storm);
    border-radius: 5px;
    aspect-ratio: 1/1;
}
.other-option-list a svg {
    width: 25px;
    height: 25px;
    object-fit: contain;
}
p a {
    padding: 0 2px;
    color: var(--primary);
    position: relative;
    transition: all ease 0.3s;
}
p a:after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 1px;
    background-color: var(--tan);
    border-radius: 3px;
    transition: all ease 0.3s;
    z-index: -1;
}
p a:hover {
    color: var(--gray-text);
}
p a:hover:after {
    height: 100%;
}

.container {
	max-width: 1250px;
    width: 95%;
}

.row.g-0 {
    gap: 0 !important;
}
.alert-primary {
    --bs-alert-color: var(--white);
    --bs-alert-bg: var(--primary);
    --bs-alert-border-color: var(--primary);
}
.alert-secondary {
    --bs-alert-color: var(--gray-text);
    --bs-alert-bg: var(--secondary);
    --bs-alert-border-color: var(--secondary);
}
.alert-light {
    --bs-alert-color: var(--gray-text);
    --bs-alert-bg: var(--light-gray);
    --bs-alert-border-color: var(--light-gray);
}
.round {
    border-radius: 50px;
}
.btn.round {
    border-radius: 30px;
    padding: 12px 30px;
}
.btn.btn-white {
    background-color: var(--white);
    color: var(--gray-text);
}
.btn.btn-primary {
    --bs-btn-color: var(--white);
    --bs-btn-bg: var( --primary);
    --bs-btn-border-color: var( --primary);
    --bs-btn-hover-color: #8F5E47;
    --bs-btn-hover-bg: #D3C0B7;
    --bs-btn-hover-border-color: #D3C0B7;
    --bs-btn-focus-shadow-rgb: none;
    --bs-btn-active-color: #8F5E47;
    --bs-btn-active-bg: #D3C0B7;
    --bs-btn-active-border-color: #D3C0B7;
    --bs-btn-active-shadow: none;
    --bs-btn-disabled-color: rgba(255,255,255,.6);
    --bs-btn-disabled-bg: rgba(143,94,71,.6);
    --bs-btn-disabled-border-color: rgba(143,94,71,.6);
}
.btn.btn-outline-primary {
    --bs-btn-color: var( --primary);
    --bs-btn-border-color: var( --primary);
    --bs-btn-hover-color: #8F5E47;
    --bs-btn-hover-bg: #D3C0B7;
    --bs-btn-hover-border-color: #D3C0B7;
    --bs-btn-focus-shadow-rgb: none;
    --bs-btn-active-color: #8F5E47;
    --bs-btn-active-bg: #D3C0B7;
    --bs-btn-active-border-color: #D3C0B7;
    --bs-btn-active-shadow: none;
    --bs-btn-disabled-color: rgba(255,255,255,.6);
    --bs-btn-disabled-bg: rgba(143,94,71,.6);
    --bs-btn-disabled-border-color: rgba(143,94,71,.6);
    --bs-gradient: none;
}
.btn.btn-secondary {
    --bs-btn-color: var(--black);
    --bs-btn-bg: var( --secondary);
    --bs-btn-border-color: var( --secondary);
    --bs-btn-hover-color: var(--black);
    --bs-btn-hover-bg: var( --secondary);
    --bs-btn-hover-border-color: var( --secondary);
    --bs-btn-focus-shadow-rgb: none;
    --bs-btn-active-color: var(--black);
    --bs-btn-active-bg: var( --secondary);
    --bs-btn-active-border-color: var( --secondary);
    --bs-btn-active-shadow: none;
    --bs-btn-disabled-color: var(--black);
    --bs-btn-disabled-bg: var( --secondary);
    --bs-btn-disabled-border-color: var( --secondary);
}
.btn.btn-outline-secondary {
    --bs-btn-color: var( --secondary);
    --bs-btn-border-color: var( --secondary);
    --bs-btn-hover-color: var(--gray-text);
    --bs-btn-hover-bg: var( --secondary);
    --bs-btn-hover-border-color: var( --secondary);
    --bs-btn-focus-shadow-rgb: none;
    --bs-btn-active-color: var(--gray-text);
    --bs-btn-active-bg: var( --secondary);
    --bs-btn-active-border-color: var( --secondary);
    --bs-btn-active-shadow: none;
    --bs-btn-disabled-color: var( --secondary);
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: var( --secondary);
    --bs-gradient: none;
}
.btn.btn-light {
    --bs-btn-color: var(--gray-text);
    --bs-btn-bg: var(--light-gray);
    --bs-btn-border-color: var(--light-gray);
    --bs-btn-hover-color: var(--gray-text);
    --bs-btn-hover-bg: var(--light-gray);
    --bs-btn-hover-border-color: var(--light-gray);
    --bs-btn-focus-shadow-rgb: none;
    --bs-btn-active-color: var(--gray-text);
    --bs-btn-active-bg: var(--light-gray);
    --bs-btn-active-border-color: var(--light-gray);
    --bs-btn-active-shadow: none;
    --bs-btn-disabled-color: var(--gray-text);
    --bs-btn-disabled-bg: var(--light-gray);
    --bs-btn-disabled-border-color: var(--light-gray);
}
.btn-link {
    --bs-btn-color: var(--primary);
    --bs-btn-bg: transparent;
    --bs-btn-border-color: transparent;
    --bs-btn-hover-color: #8F5E47;
    --bs-btn-hover-border-color: transparent;
    --bs-btn-active-color: #8F5E47;
    --bs-btn-active-border-color: transparent;
    --bs-btn-disabled-color: rgba(143,94,71,.8);
    --bs-btn-disabled-border-color: transparent;
    --bs-btn-box-shadow: none;
    --bs-btn-focus-shadow-rgb: none;
    text-decoration: underline;
}
.btn.icon-with-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: -ms-fit-content;
    width: -o-fit-content;
}
.btn.icon-with-text svg {
    margin-right: 6px;
}

/*header-start*/
header {
    padding: 26px 0;
}
.logo-main {
    text-align: center;
}
.menu-wrapper .logo-main {
    padding-bottom: 20px;
}
.menu-wrapper .logo-main img {
    height: 75px;
    width: auto;
    object-fit: contain;
}
.stellarnav.desktop {
    z-index: unset !important;
}
.stellarnav.desktop ul li {
    padding: 0 15px;
}
.stellarnav.desktop a {
    padding: 4px 0;
    letter-spacing: -.6px;
    font-size: 16px;
    line-height: 1.2;
    text-transform: uppercase;
    font-weight: 500;
    font-family: var(--montserrat-font);
    color: var(--primary);
    position: relative;
}
.stellarnav.desktop a:before, 
.stellarnav.desktop a:after {
    content: '';
    position: absolute;
    left: 50%;
    width: 0%;
    height: 1px;
    background-color: var(--tan);
    transform: translateX( -50% );
    -webkit-transition: all .3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -o-transition: all .3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all .3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.stellarnav.desktop a:before {
    top: 0;
}
.stellarnav.desktop a:after {
    bottom: 0;
}
.stellarnav.desktop li.active a:before, 
.stellarnav.desktop li.active a:after, 
.stellarnav.desktop a:is(:hover, :focus, :active, .active):before, 
.stellarnav.desktop a:is(:hover, :focus, :active, .active):after {
    width: 100%;
}
.stellarnav li.has-sub>a:after {
    border: 0px;
    margin: 0;
}
.stellarnav.desktop a.dd-toggle {
    display: none;
}
.stellarnav.desktop ul ul {
    padding: 6px 0;
    margin-top: 8px;
    background-color: var(--light-gray);
}
.stellarnav.desktop ul ul:before {
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    background-color: var(--light-gray);
    top: -5px;
    left: 35px;
    transform: rotate(45deg);
}
.stellarnav.desktop ul ul li {
    padding: 0;
}
.stellarnav.desktop ul ul a {
    padding: 8px 14px;
}
.stellarnav.desktop ul ul li.active a:before, 
.stellarnav.desktop ul ul li.active a:after, 
.stellarnav.desktop ul ul a:is(:hover, :focus, :active, .active):before, 
.stellarnav.desktop ul ul a:is(:hover, :focus, :active, .active):after, 
.stellarnav.desktop ul ul a:before, 
.stellarnav.desktop ul ul a:after {
    opacity: 0;
    visibility: hidden;
}
.stellarnav.desktop ul ul li.active a, 
.stellarnav.desktop ul ul li.active a, 
.stellarnav.desktop ul ul a:is(:hover, :focus, :active, .active), 
.stellarnav.desktop ul ul a:is(:hover, :focus, :active, .active) {
    background-color: var(--primary);
    color: var(--white);
}
.stellarnav a.dd-toggle .icon-plus:after, 
.stellarnav a.dd-toggle .icon-plus:before {
    border-bottom-color: var(--gray-text);
}
.stellarnav.mobile .menu-toggle {
    color: var(--primary);
    padding: 2px;
}
.stellarnav.mobile .menu-toggle span.bars {
    top: 0;
    color: var(--primary);
}
.stellarnav.mobile .menu-toggle span.bars span:last-child {
    margin: 0;
}
.stellarnav.mobile>ul>li>a.dd-toggle {
    background-color: var(--tan);
    padding: 0 !important;
}
.stellarnav.mobile ul {
    position: fixed !important;
    top: 0;
    bottom: 0;
    right: 0;
    transform: translateX(100%);
    width: 100%;
    max-width: 280px;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    background-color: var(--dust-storm);
    box-shadow: -10px 0px 15px rgba(25, 25, 25, 0.1);
}
.stellarnav.mobile ul ul {
    position: relative !important;
    transform: unset;
    width: 100%;
    max-width: 100%;
    box-shadow: none;
}
.stellarnav.mobile.active>ul {
    transform: translateX(0%);
    z-index: 1;
}
.stellarnav.mobile ul li {
    display: block !important;
    margin: 0 !important;
}
.stellarnav.mobile ul li a {
    padding: 16px 8px 12px 8px !important;
    border-bottom: 1px solid var(--tan);
    color: var(--gray-text);
    text-transform: uppercase;
    font-size: 16px;
    line-height: normal;
    font-family: var(--bellefair-font);
}
.stellarnav.mobile ul li.active a:before, 
.stellarnav.mobile ul li.active a:after, 
.stellarnav.mobile ul li a:is(:hover, :focus, :active, .active):before, 
.stellarnav.mobile ul li a:is(:hover, :focus, :active, .active):after {
    background-color: var(--secondary);
    color: var( --white);
    border-color: var(--secondary);
}
.stellarnav.mobile a.close-menu {
    display: block !important;
    color: var(--primary);
    padding: 15px 8px;
    display: block;
    letter-spacing: -.6px;
    font-size: 16px;
    line-height: 1.2;
    text-transform: uppercase;
    font-weight: 500;
    font-family: var(--montserrat-font);
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s;
    position: relative;
    border-bottom: 1px solid rgba(var(--tan), .8);
}
.stellarnav.mobile a.close-menu .icon-close {
    margin-right: 7px;
}
.stellarnav .icon-close:after, .stellarnav .icon-close:before {
    border-bottom-color: var(--primary);
}
.stellarnav a.cart-icon svg {
    width: 20px;
    height: 20px;
}
.stellarnav a.cart-icon .counterNumber {
    position: absolute;
    top: -2px;
    left: 14px;
    background-color: var(--dust-storm);
    border: 1px solid var(--primary);
    color: var(--primary);
    width: 15px;
    height: 15px;
    line-height: 15px;
    text-align: center;
    border-radius: 100%;
    font-size: x-small;
    font-weight: 600;
}
.sticky-bar {
    left: 0;
    margin: auto;
    position: fixed;
    top: 0;
    width: 100%;
    -webkit-box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
    box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
    z-index: 1;
    -webkit-animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
    animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
    -webkit-box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
    background: #ffffff;
}
.header-sticky.sticky-bar {
    padding: 12px 0;
}
.header-sticky.sticky-bar .menu-wrapper {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}
.header-sticky.sticky-bar .menu-wrapper .logo-main {
    padding: 0;
}
.header-sticky.sticky-bar .menu-wrapper .logo-main img {
    height: 50px;
}
.header-sticky.sticky-bar .stellarnav.desktop ul li {
    padding: 0 6px;
}
/*header-end*/

/*footer-start*/
.footer-section {
    background-color: #915b44;
    padding: 45px 0;
}
.footer-section .row {
    row-gap: 30px;
}
.ftr-menu h5 {
    font-size: 26px;
    line-height: 1.2;
    font-weight: 400;
    font-family: var(--bellefair-font);
    color: var(--white);
    text-transform: capitalize;
    letter-spacing: normal;
    margin: 0 0 14px;
}
.ftr-menu li, 
.ftr-menu a {
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
    font-family: var(--montserrat-font);
    color: var(--white);
    text-transform: capitalize;
    letter-spacing: normal;
}
.ftr-menu p, 
.ftr-menu p a {
    font-weight: 400;
    font-family: var(--bellefair-font);
    color: var(--white);
    text-transform: capitalize;
    letter-spacing: normal;
    padding: 0;
}
.ftr-menu li {
    margin: 0 0 2px;
}
.footer-section .logo-main {
    margin: 15px 0;
}
.footer-section .logo-main img {
    width: auto;
    height: 66px;
    object-fit: contain;
}
.cpyRight-section {
    background-color: var(--tan);
    padding: 15px 0;
}
.cpyRight-section p {
    text-align: center;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    font-family: var(--montserrat-font);
    color: var(--gray-text);
    text-transform: unset;
    letter-spacing: normal;
}
/*footer-end*/

.py-5 {
    padding-top: 5rem!important;
    padding-bottom: 5rem!important;
}
.pt-5 {
    padding-top: 5rem!important;
}
.row.row-gap-5 {
    row-gap: 5rem;
}

.banner-section {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.banner-content.position-relative .row {
    row-gap: 16px;
}
.banner-section .row .col-lg-6 .banner-img {
    height: 100%;
}
.banner-section .row .col-lg-6 .banner-img img {
    height: 100%;
}
.banner-section .row .col-lg-6:nth-child(even) h2 {
    text-align: right;
}
.banner-img img {
    min-height: 160px;
    object-fit: cover;
    object-position: center;
}
.banner-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.banner-content.bottomRight {
    padding: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.banner-content.bottomRight h2 {
    text-align: right;
}
.banner-content.centerLeft {
    padding: 5px;
    display: flex;
    align-items: center;
}
.banner-content h2 {
    font-size: 64px;
    line-height: 1.2;
    font-family: var(--bellefair-font);
    color: var(--primary);
    text-transform: uppercase;
    letter-spacing: normal;
}
.banner-content h2 a {
    color: var(--primary);
}
.banner-content h2 a:is(:hover, :focus, :active, .active) {
    color: var(--gray-text);
}
.banner-btn-list {
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    gap: 16px;
}
.banner-btn-list a.btn {
    min-width: 300px;
    font-weight: 600;
    text-align: left;
    --bs-btn-color: var(--primary);
}
.banner-content .signUp {
    flex-wrap: wrap;
}
.steps-section {
    padding: 80px 0;
    background-color: var(--dust-storm);
}
.simple-content-main h1 {
    font-family: var(--bellefair-font);
    color: var(--primary);
}
.simple-content-main h2, 
.simple-content-main p, 
.simple-content-main li {
    font-family: var(--montserrat-font);
    color: var(--gray-text);
}
.simple-content-main ol, 
.simple-content-main ul {
    padding-left: 2rem;
}
.title-main {
    text-align: center;
}
.title-main h2 {
    font-size: 44px;
    line-height: 1.2;
    font-family: var(--bellefair-font);
    color: var(--primary);
    text-transform: capitalize;
    letter-spacing: normal;
    position: relative;
    padding: 0 0 2px;
}
.title-main h2:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 75px;
    height: 1.6px;
    background-color: var(--tan);
}
.contact-inner h3, 
.sign-now h3, 
.service-name, 
.candidate-content h3, 
.title-main h3 {
    font-size: 32px;
    line-height: 1;
    font-family: var(--bellefair-font);
    color: var(--primary);
    text-transform: capitalize;
    letter-spacing: normal;
    position: relative;
    padding: 0 0 2px;
}
.subTitleBox {
    background-color: var(--white);
    padding: 14px 16px 8px 16px;
    width: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: -ms-fit-content;
    width: -o-fit-content;
    min-width: 415px;
}
.subTitleBox h3 {
    font-size: 28px;
    line-height: 1;
    font-family: var(--bellefair-font);
    color: var(--gray-text);
    text-transform: uppercase;
    letter-spacing: normal;
}
.step-list {
    display: flex;
    flex-wrap: wrap;
    gap: 45px;
}
.step-item {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}
.step-img {
    text-align: right;
}
.step-img img {
    width: auto;
    height: 140px;
    object-fit: contain;
}
.step-contentBox {
    height: 100%;
    background-color: var(--light-gray);
    padding: 18px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.step-contentBox p {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 400;
    font-family: var(--montserrat-font);
    color: var(--primary);
    text-transform: uppercase;
    letter-spacing: normal;
}
.available-candidates .btn-main, 
.steps-section .btn-main {
    margin-top: 70px;
}
.pricing-card .btn, 
.candidate-availability .btn-main .btn, 
.candidate-contact .btn, 
.contact-inner .btn, 
.sign-now .btn, 
.contact-section form.contact-form input[type="submit"], 
.single-form-section form.row .btn, 
.available-candidates .btn-main .btn, 
.steps-section .btn-main .btn {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 400;
    font-family: var(--montserrat-font);
    /*color: var(--white);*/
    text-transform: uppercase;
    letter-spacing: normal;
}
.available-candidates {
    padding: 80px 0;
}
.candidate-slider .slick-arrow {
    background-color: var(--white);
    color: var(--primary);
    border: 0;
    font-size: 25px;
    width: 45px;
    height: 45px;
    padding: 5px;
    border-radius: 100%;
    z-index: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
}
.candidate-slider .slick-prev {
    left: 0;
}
.candidate-slider .slick-next {
    right: 0;
}
.candidate-slide {
    margin: 0 15px;
    background-color: #915b44;
}
.candidate-img {
    width: 100%;
}
.candidate-img img {
    width: 100%;
    height: auto;
    aspect-ratio: 1/1.25;
    object-fit: cover;
}
.candidate-detail {
    padding: 20px 10px;
    text-align: center;
}
.candidate-detail h4 {
    font-size: 28px;
    line-height: 1.2;
    font-family: var(--bellefair-font);
    color: var(--white);
    text-transform: capitalize;
    letter-spacing: normal;
    margin: 0 0 4px;
}
.candidate-detail h5 {
    font-size: 21px;
    line-height: 1.2;
    font-weight: 400;
    font-family: var(--montserrat-font);
    color: var(--white);
    text-transform: capitalize;
    letter-spacing: normal;
    margin: 0 0 5px;
}
.candidate-detail h6 {
    font-size: 18px;
    line-height: 1.2;
    font-weight: 400;
    font-family: var(--montserrat-font);
    color: var(--white);
    text-transform: capitalize;
    letter-spacing: normal;
    margin: 0 0 10px;
}
.rating {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    margin: 0 0 6px;
}
.candidate-slide .rating {
    color: var(--light-gray);
}
.rating svg {
    width: 20px;
    height: 20px;
}

.contact-section {
    padding: 80px 0;
    background-color: var(--light-gray);
}
.contact-section .row {
    align-items: center;
    row-gap: 30px;
}
.contact-section form.contact-form {
    background-color: var(--primary);
    padding: 26px;
    display: flex;
    flex-flow: column;
    row-gap: 18px;
}
.contact-section form.contact-form h3 {
    width: 100%;
    text-align: center;
    font-size: 32px;
    line-height: 1;
    font-family: var(--montserrat-font);
    color: var(--white);
    text-transform: capitalize;
    letter-spacing: normal;
    margin-bottom: 5px;
}
.contact-section form.contact-form .form-field {
    background-color: transparent;
    color: var(--white);
}
.contact-section form.contact-form .form-field::placeholder {
    color: var(--white);
}
.contact-info {
    display: flex;
    flex-flow: column;
    row-gap: 20px;
}
.contact-info a {
    font-size: 18px;
    line-height: 1;
    color: var(--gray-text);
    font-family: var(--montserrat-font);
    display: flex;
    align-items: center;
    gap: 10px;
}
.contact-info a i {
    color: var(--primary);
}
.contact-info a svg, 
.contact-info a svg path {
    fill: var(--primary);
}

.sign-now {
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
}
.sign-now .btn {
    font-size: 18px;
    min-width: 170px;
}
.requirements-list {
    max-width: calc(100% - 415px);
    margin-left: auto;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 15px;
}
.steps-section .row {
    row-gap: 50px;
}
.row .col-lg-6 .requirements-list {
    max-width: 100%;
    margin-left: 0;
}
.row .col-lg-6 .step-item {
    margin-left: -15px;
    margin-right: -15px;
    width: auto;
}
.row .col-lg-6 .step-item .col-xs-12 {
    padding: 0px 15px;
}
.requirements-list li {
    font-size: 20px;
    line-height: 1.2;
    color: var(--primary);
    font-family: var(--montserrat-font);
    font-weight: 400;
    letter-spacing: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    word-break: break-all;
}
.requirements-list li:before {
    content: '';
    min-width: 44px;
    width: 44px;
    height: 100%;
    aspect-ratio: 1/.6;
    background-image: url(../images/arrow-theme-icon1.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.requirements-list li img {
    object-fit: contain;
}
.steps-section-list .steps-section .row~.subTitleBox {
    margin-top: 55px;
}
.steps-section .border-end {
    border-color: var(--light-gray) !important;
}
.steps-section-list .steps-section:nth-child(4n + 2) {
    background-color: var(--secondary);
}
.steps-section-list .steps-section:nth-child(4n + 2) .requirements-list li, 
.steps-section-list .steps-section:nth-child(4n + 2) .sign-now h3, 
.steps-section-list .steps-section:nth-child(4n + 2) .title-main h2 {
    color: var(--white);
}
.steps-section-list .steps-section:nth-child(4n + 2) .title-main h2:after {
    background-color: var(--white);
}
.steps-section-list .steps-section:nth-child(4n + 2) .requirements-list li:before {
    background-image: url(../images/arrow-white-icon1.png);
}
.steps-section-list .steps-section:nth-child(4n + 3) {
    background-color: var(--light-gray);
}
.steps-section-list .steps-section:nth-child(4n + 3) .step-contentBox {
    background-color: var(--dust-storm);
}
.steps-section-list .steps-section:nth-child(4n + 4) {
    background-color: var(--white);
}
.steps-section-list .steps-section:nth-child(4n + 4) .subTitleBox, 
.steps-section-list .steps-section:nth-child(4n + 4) .step-contentBox {
    background-color: var(--dust-storm);
}
.steps-section-list .steps-section:nth-child(4n + 4) .btn-white {
    background-color: var(--dust-storm);
}
.steps-section-list .steps-section:nth-child(4n + 3) .border-end {
    border-color: var(--dust-storm) !important;
}
.steps-section-list .steps-section:nth-child(4n + 4) .border-end {
    border-color: var(--dust-storm) !important;
}
.contact-inner {
    max-width: 720px;
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
}
.contact-inner h3 {
    margin: 0 0 10px;
}
.contact-inner p {
    font-size: 18px;
    line-height: 1.2;
    font-weight: 400;
    font-family: var(--montserrat-font);
    color: var(--gray-text);
    letter-spacing: normal;
    margin: 0 0 18px;
}
.about-section {
    padding: 80px 0;
}
.about-section .row {
    row-gap: 30px;
}
.about-content {
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.about-content p {
    max-width: 400px;
    font-size: 18px;
    line-height: 1.3;
    font-weight: 400;
    font-family: var(--montserrat-font);
    color: var(--tan);
    text-transform: uppercase;
    letter-spacing: normal;
    margin: 20px auto 0;
}
.services-section {
    padding: 80px 0;
    background-image: url(../images/bg-shape1.png);
    background-position: center;
    background-size: cover;
}
.services-section .title-main {
    margin-bottom: 50px;
}
.services-section .row .col-xs-12:first-child, 
.services-section .row .col-xs-12:last-child {
    margin-top: -25px;
}
.services-section .row {
    align-items: flex-start;
    row-gap: 30px;
}
.service-box {
    background-color: var(--white);
    border-radius: 20px;
    height: 100%;
    max-width: calc(100% - 60px);
    padding: 30px;
    margin: 0 auto;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.15);
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.service-box img {
    width: auto;
    height: 125px;
    object-fit: contain;
}
.service-name {
    text-align: center;
    padding: 0;
    margin-top: 30px;
}
.candidate-info {
    padding: 80px 0;
    background-color: var(--dust-storm);
}
.candidate-info .row {
    align-items: center;
    row-gap: 30px;
}
.candidate-content h3 {
    line-height: 1.3;
}
.review-section, 
.about-candidate, 
.candidate-availability {
    padding: 60px 0 0;
}
.candidate-availability {
    padding-bottom: 60px;
}
.candidate-availability .btn-main {
    row-gap: 15px;
}
.about-candidate .title-main h3, 
.candidate-availability .title-main h3 {
    text-align: left;
    padding: 0;
    margin: 0 0 20px;
}
.review-section h2 {
    font-size: 30px;
    line-height: 1.2;
    font-family: var(--montserrat-font);
    color: var(--primary);
    text-transform: capitalize;
    letter-spacing: normal;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    gap: 8px;
    margin: 0 0 15px;
}
.review-section p {
    font-size: 19px;
    line-height: 1.3;
    font-family: var(--montserrat-font);
    color: var(--gray-text);
    text-transform: initial;
    letter-spacing: normal;
    position: relative;
}
.about-candidate-box {
    background-color: var(--light-gray);
    padding: 15px 25px;
    height: 100%;
}
.about-candidate-box li {
    display: flex;
    flex-flow: row;
    align-items: center;
}
.about-candidate-title {
    width: 60%;
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
    border-right: 1px solid var(--dust-storm);
    padding-right: 10px;
}
.about-candidate-content {
    width: 40%;
    padding-left: 10px;
}
.about-candidate-title, 
.about-candidate-content {
    padding-top: 10px;
    padding-bottom: 10px;
}
/*.about-candidate-box li:first-child .about-candidate-title, 
.about-candidate-box li:first-child .about-candidate-content {
    padding-top: 0;
}
.about-candidate-box li:last-child .about-candidate-title, 
.about-candidate-box li:last-child .about-candidate-content {
    padding-bottom: 0;
}*/
.about-candidate-box img {
    width: 45px;
    height: 45px;
    object-fit: contain;
    margin-right: 10px;
}
.about-candidate-box h4 {
    font-size: 22px;
    line-height: 1.2;
    color: var(--gray-text);
    font-family: var(--bellefair-font);
}
.about-candidate-title h4 {
    text-transform: uppercase;
}
.can-avail-table {
    background-color: var(--light-gray);
    padding: 20px;
    position: relative;
}
.table-arrows {
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: none;
}
.can-avail-table .table-arrows {
    width: calc(100% - 40px);
}
.table-arrows a {
    width: 20px;
    height: 20px;
    line-height: 20px;
}
.table-arrows a:first-child {
    text-align: left;
}
.table-arrows a:last-child {
    text-align: right;
}
.table-arrows a:hover {
    color: var(--gray-text);
}
.can-avail-table table td, 
.can-avail-table table th {
    max-width: 145px;
    min-width: 100px;
    vertical-align: middle;
    text-align: center;
    padding: 8px 10px;
    font-size: 22px;
    line-height: normal;
    letter-spacing: -.6px;
    color: var(--gray-text);
    font-family: var(--bellefair-font);
    font-weight: normal;
    border-left: 1px solid var(--dust-storm);
}
.can-avail-table table tr th:first-child {
    text-align: right;
}
.can-avail-table table tbody tr td:first-child, 
.can-avail-table table tbody tr th:first-child {
    border-color: transparent;
}
.card.border-light {
    border-color: var(--light-gray) !important;
}
.card-body>* {
    font-size: 18px;
    line-height: 1.2;
    font-family: var(--montserrat-font);
    color: var(--gray-text);
}
.card-header {
    line-height: 1.2;
    font-family: var(--bellefair-font);
    color: var(--gray-text);
    border-color: var(--light-gray);
    background-color: var(--light-gray);
}
.single-form-section hr {
    border-color: var(--dust-storm);
    opacity: 1;
    margin: 2rem 0;
}
.single-form-section .row.justify-content-center {
    row-gap: 30px;
}
.modal-header {
    border-color: var(--dust-storm);
}

.favorites-section, 
.pricing-plans {
    padding: 80px 0;
}
/*.pricing-plans .row, */
.favorites-section .row {
    row-gap: 30px;
}
.favorites-section .title-main, 
.pricing-plans .title-main {
    margin-bottom: 40px;
}
.pricing-card {
    position: relative;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    padding: 30px;
    border-radius: 15px;
    border: 1px solid var(--light-gray);
    background-color: transparent;
    text-align: center;
}
.pricing-card:hover {
    border-color: var(--dust-storm);
    background-color: transparent;
    transform: translateY(-6px) scale(1.02);
    transition: all 0.5s ease;
}
.pricing-card>*:not(:last-child) {
    width: 100%;
    margin-bottom: 32px;
}
.pricing-card .heading {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid var(--light-gray);
    position: relative;
}
.pricing-card:hover .heading {
    border-color: var(--dust-storm);
}
.pricing-card .heading .badge {
    position: absolute;
    top: -20px;
    right: -20px;
    font-weight: normal;
    font-family: var(--montserrat-font);
}
.badge.bg-secondary {
    background-color: var(--secondary) !important;
    color: var(--white) !important;
}
.pricing-card .heading h4 {
    font-size: 36px;
    line-height: 1.2;
    color: var(--gray-text);
    font-family: var(--bellefair-font);
}
.pricing-card .heading p {
    font-size: 16px;
    line-height: 1.2;
    color: var(--gray-text);
    font-family: var(--montserrat-font);
}
.pricing-card .price {
    position: relative;
    font-size: 60px;
    line-height: 1.2;
    font-weight: 600;
    color: var(--gray-text);
    font-family: var(--montserrat-font);
}
.pricing-card .price sub {
    font-size: small;
    font-weight: 500;
}
.pricing-card .features {
    flex: 1 0 auto;
}
.pricing-card .features li {
    padding-bottom: 16px;
    font-size: 18px;
    line-height: 1.2;
    color: var(--gray-text);
    font-family: var(--montserrat-font);
    text-align: left;
}
.pricing-card .features li:last-child {
    padding-bottom: 0;
}
.pricing-card .features li svg {
    margin-right: 6px;
}
.pricing-card .features li i,
.pricing-card .features li strong {}
.pricing-card .features li svg, 
.pricing-card .features li svg path {
    fill: var(--secondary);
}
.favorites-section .card {
    overflow: hidden;
    --bs-card-border-radius: 16px;
    --bs-card-border-color: var(--dust-storm);
}
.favorites-section .card img.img-fluid {
    max-height: 150px;
    width: 100%;
    object-fit: cover;
}
.favorites-section .card.verticalBox img {
    max-height: 100%;
    aspect-ratio: 16/11;
    object-fit: cover;
}
.card.verticalBox .card-body {
    background-color: var(--light-gray);
}
.favorites-section .card-body {
    height: 100%;
    position: relative;
}
.result-list .card-body .pos-icon, 
.favorites-section .card-body .pos-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    color: var(--primary);
}
.result-list .card-body .pos-icon a, 
.favorites-section .card-body .pos-icon a {
    color: var(--primary);
}
.result-list .card-body .pos-icon svg, 
.favorites-section .card-body .pos-icon svg {
    fill: var(--primary);
}
.title-main.title-box {
    padding: 30px 0;
}
.title-main.title-box h2, .title-main.title-box p {
    text-align: left;
}
.title-main.title-box h2:after {
    display: none;
}
.result-list .card {
    overflow: hidden;
}
.result-list .card img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}
.result-list {
    row-gap: 30px;
    margin-bottom: 30px;
}
.filter-option {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    border-bottom: 1px solid var(--light-gray);
    padding: 15px;
    white-space: nowrap;
    overflow-x: auto;
}
.search-inner .row {
    position: relative;
}
.search-inner .map {
    position: sticky;
    top: 0;
    left: 0;
}
.search-inner .map iframe {
    width: 100%;
}
.filter-option {}
.filter-option a {
    display: inline-block;
    width: auto;
    height: auto;
    background-color: var(--light-gray);
    color: var(--gray-text);
    border-radius: 30px;
    font-size: 15px;
    line-height: 1;
    padding: 8px 18px;
}
.filter-option a:is(.active, :hover, :active, :focus) {
    background-color: var(--primary);
    color: var(--white);
}
.js--image-preview img {
 width: 100%;
 height: 100%;
 object-fit: cover;
 object-position: center;
}
.disabled-heart {
    color: #ccc; 
    text-decoration: line-through; 
    pointer-events: none; 
}
.about-candidate-content, 
.about-candidate-title {
    width: 50%;
    height: 100%;
}
.about-candidate-title {
    align-items: center;
}
.about-candidate-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}
.about-candidate-box h4 {
    text-transform: uppercase;
}
.search-box.profileSrc {
    max-width: 550px;
    margin: 0 auto;
    position: relative;
}
.search-box.search-elem {
    max-width: 100%;
    margin: 0;
}
.search-box.profileSrc .form-input {
    width: 100%;
}
.search-box.profileSrc .form-input-btn {
    position: absolute;
    top: 0;
    right: 0;
}
.search-box.profileSrc .form-input-btn a.src-icon {
    padding: 0;
    width: 48px;
    height: 48px;
    line-height: 48px;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: var(--primary);
    background-color: var(--light-gray);
    border: 1px solid var(--dust-storm);
    border-radius: 0px 5px 5px 0px;
}
span.text-danger{
    font-size: .875em;
}
.pricing-plans-main form {
    height: 100%;
}
.pricing-plans-main .row {
    row-gap: 30px;
}
.pricing-box {
    border: 1px solid var(--secondary);
    display: flex;
    flex-flow: column;
    height: 100%;
    /*word-break: break-all;*/
    word-wrap: break-word;
}
.pricing-box .name-box {
    background-color: var(--secondary);
    text-align: center;
    padding: 1.4rem;
    color: var(--white);
    text-transform: uppercase;
    font-family: var(--bellefair-font);
    font-size: 1.2rem;
    line-height: 1.3;
}
.pricing-box .price-box {
    background-color: var(--primary);
    text-align: center;
    padding: 0.7rem;
    color: var(--white);
    text-transform: uppercase;
    font-family: var(--montserrat-font);
    line-height: 1.3;
    font-weight: 600;
}
.pricing-box .features {
    flex: 1 0 auto;
    padding: 2rem 1.6rem;
    display: flex;
    flex-flow: column;
    gap: 8px;
}
.pricing-box .features li {
    color: var(--gray-text);
    text-transform: unset;
    font-family: var(--montserrat-font);
    font-size: 15px;
    line-height: 1.3;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.pricing-box .features li svg, .pricing-box .features li i {
    margin-right: 8px;
    margin-top: 6px;
    width: 5px;
    height: 5px;
    font-size: 5px;
}
/*cart css style*/
.cart-tables-collaterals {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
}
.cart-table-sec-main {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    padding-right: 15px;
}
.cart-collaterals-sec-main {
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    padding-left: 15px;
}
.cart-table-sec-main table {
    width: 100%;
    border: 1px solid var(--light-gray);
    border-radius: 3px;
}
.cart-table-sec-main table tr, .cart_totals table tr {
    font-size: 14px;
    line-height: 18px;
    font-family: var(--montserrat-font);
    font-weight: 500;
    color: var(--gray-text);
    text-transform: initial;
}
.cart-table-sec-main table tr th, .cart-table-sec-main table tr td {
    padding: 9px 12px;
    vertical-align: top;
    border: 1px solid var(--light-gray);
}
.cart-table-sec-main table tr a {
    color: var(--primary);
}
.cart-table-sec-main table tr a.remove {
    width: 25px;
    height: 25px;
    line-height: 25px;
    font-size: 25px;
    display: block;
    margin: 0 auto;
    text-align: center;
    background-color: var(--primary);
    color: var(--white);
    border-radius: 100%;
}
.cart-table-sec-main table tfoot td:first-child {
    text-align: right;
    font-weight: 700;
}
.cart-table-sec-main table tfoot td .amount {
    color: var(--primary);
    font-weight: 800;
}
.cart_totals {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    background-color: var(--light-gray);
    padding: 30px 0px;
}
.cart_totals .title-main {
    margin-bottom: 22px;
}
.cart_totals table {
    width: 100%;
}
.cart_totals table tbody tr {
    border-bottom: 1px solid var(--white);
}
.cart_totals table tbody tr:last-child {
    border-color: transparent;
}
.cart_totals table tr th, .cart_totals table tr td {
    width: 50%;
    padding: 9px 12px;
    vertical-align: middle;
}
.cart_totals .proceed-to-checkout {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 14px;
}
.alert .btn-close {
    opacity: .9;
}
.alert-primary .btn-close {
    filter: brightness(0) invert(1);
}
#dynamic_field label.fst-italic {
    padding-right: 55px;
}